@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


/*@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}*/

/*
###############
               Usefull in general 
###############
*/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 

	-webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-ms-transition:     all 0.2s ease;
	-o-transition:      all 0.2s ease;

	vertical-align: middle;
	position: relative;
}
body{
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/

}
.container{
	max-width: 585px !important;
}

/*
###############
               Remaining Budget 
###############
*/
.remainingBudget {
    background-color: #424242;
    padding: 28px 10px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 27px;
}
.remainingBudget:after {
    content: ' ';
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 14px solid #424242;
    font-size: 0;
    line-height: 0;
    background-image: linear-gradient( to right, #f15e33, #ff6e45, #f15e33);
}
.remainingBudget span {
    font-weight: 700;
}
.remainingBudget * {
    vertical-align: top;
}
/*
###############
               Donation Form and text 
###############
*/
.donationContainer {
	margin-top: 22px;
    border: 2px solid #dcdcdc;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 4px 6px -4px #bdbdbd;
}
.donationProgress {
    border-bottom: 2px solid #dcdcdc;
    background-color: #f6f5f5;
    height: 22px;
}
.progressBar {
    background-color: #f15e33;
    width: 0;
    height: 100%;
    max-width: 100%;
}
.clrOrange{
	color: #f15e33;
	font-weight: 500;
}
.donTextAndForm {
    padding: 30px 0;
    color: #828282;
}
.donationText {
    font-size: 25px;
}
.donationText * {
    vertical-align: top;
}
.donForm form .dollar::before {
    left: 24px;
    content: '$';
    position: absolute;
    width: 40px;
    top: 17px;
    color: #828282;
    font-size: 32px;
    font-weight: 700;
    font-family: sans-serif;
    height: 100%;
    vertical-align: 18px;
}
input#donAmount {
    border-color: #d6d6d6;
    border-width: 2px;
    padding: 16px 10px 16px 44px;
    color: #424242;
    font-size: 32px;
    background-color: transparent;
    height: auto;
    font-weight: 700;
    overflow: visible;
}
form button[type=submit] {
    background-color: #00be1c;
    border-color: transparent;
    padding: 16px 0;
    font-size: 33px;
}
.whyGiveFifty em {
    font-style: italic;
    font-size: 25px;
    color: #0ea0d6;
}
label.error {
    color: #dc3545;
}
.saveShareButtons button {
    background-color: #fafafa;
    -webkit-box-shadow: 0 8px 6px -6px black;
    font-weight: 500;
    color: #777777;
    font-size: 26px;
    padding: 14px 0;
    border-color: #dcdcdc;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 2px 1px 0px #bdbdbd;
}
.donTargetReachedContainer{
    display: none;
}

/*
###############
               MEDIA QUERIES 
###############
*/
@media screen and (max-width: 375px) {
    .remainingBudget {
        font-size: 24px;
    }
    .donTextAndForm {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .donationText {
        font-size: 22px;
    }
    form button[type=submit] {
        padding: 10px 0;
        font-size: 28px;
    }
    input#donAmount {
        font-size: 30px;
        padding: 10px 10px 10px 44px;
    }
    .donForm form .dollar::before {
        top: 13px;
        font-size: 30px;
    }
    .whyGiveFifty em {
        font-size: 21px;
    }
    .saveShareButtons button {
        font-size: 22px;
        padding: 10px 0;
    }
}